* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

button,
textarea,
input,
select {
  font-size: inherit;
  font-family: inherit;
}

a {
  text-decoration: none;
}

:root {
  --color-bg: #fff6ed;
  --primary-color: #000958;
  --btn-color: #ff582e;
  --text-color: #656689;
}

.btn {
  text-align: center;
  background-color: var(--btn-color);
  border-radius: 31px;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 22px 30px;
}

.heading {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--primary-color);
}

.desc {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 1.8;
  color: var(--text-color);
}

header {
  height: 100vh;
  background-color: #fffaf5;
}

.container {
  max-width: calc(1170px - 48px);
  margin: 0 auto;
}

nav {
  padding-top: 25px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation .logo {
  display: flex;
  gap: 8px;
  align-items: center;
}

.navigation .logo-img img {
  display: block;
}

.navigation .logo-text {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-color);
}

.list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
}

.item {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  transition: all 0.25s;
}

.item.active {
  color: var(--primary-color);
  font-weight: 600;
}

.item-nav:hover {
  color: var(--primary-color);
  font-weight: 600;
}

.btn-header {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  color: var(--primary-color);
  padding: 15px 31px;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  transition: all 0.3s;
}

.btn-header:hover {
  background-color: var(--primary-color);
  color: #fff;
}

/* hero */

.hero {
  margin-top: 100px;
}

.wrapper {
  display: flex;
}

.hero__img {
  position: relative;
  width: 50%;
}

.hero__img-cat {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  width: 388px;
  height: 488px;
  background-color: #fe997b;
  border-radius: 16px;
  border: 1px solid #fff;
}

.hero__img-dog {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 100;
  position: absolute;
  top: 302px;
  right: 0;
  width: 186px;
  height: 244px;
  background-color: #faa7ad;
  border-radius: 16px;
  border: 1px solid #fff;
}

.hero__img-pets {
  position: absolute;
  z-index: 101;
  right: 171px;
  top: 426px;
  background-color: #fff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  border-radius: 10px;
}

.content {
  padding: 18px 14px;
  display: flex;
  align-items: center;
}

.pets__img {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  overflow: hidden;
}

.pets__img-1 {
  background-color: #fec23f;
  box-shadow: 0px 4px 21px 0px rgba(247, 167, 12, 0.32);
}

.pets__img-2 {
  background-color: #c6e2fa;
  box-shadow: 0px 4px 10px 0px #6597c2;
}

.pets__img img {
  display: block;
  object-fit: cover;
  background-color: transparent;
}

.pets__text {
  margin-left: 9px;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--primary-color);
}

.pets__text .line {
  position: relative;
  margin: 7px 0;
  display: block;
  width: 118px;
  height: 4px;
  border-radius: 10px;
  opacity: 0.08;
  background-color: #000958;
}

.pets__text .line .loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  border-radius: 10px;
  height: 100%;
  background-color: rgb(22, 152, 238);
  opacity: 100;
  animation: loading alternate 5s infinite ease;
}

@keyframes loading {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(78px);
  }
}
.pets__text .line-small {
  width: 39px;
}

.hero__img .decoration .deco-circle {
  position: absolute;
  right: 132px;
  top: 15px;
}

.hero__img .decoration .deco-circut {
  position: absolute;
  left: -61px;
  bottom: 30px;
}

.separate {
  display: block;
  width: 222px;
  height: 2px;
  background-color: #f2f2f2;
  margin: 0 14px;
}

.hero__text {
  width: 50%;
  padding-left: 121px;
}

.hero__text .heading-header {
  font-size: 6.2rem;
  margin: 71px 0 24px;
}

.hero__text .desc-header {
  width: 391px;
}

.action-hero {
  display: flex;
  align-items: center;
  margin-top: 38px;
  gap: 24px;
}

.booking {
  display: flex;
}

.btn-booking {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-booking .icon-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 99px;
  color: #ff5b2e;
  background-color: #fff;
  font-size: 0.8rem;
}

.schedule {
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: underline;
}

.schedule a {
  color: var(--primary-color);
}

/* main */

/* about */

.about {
  padding-top: 148px;
  background-color: #fffaf5;
}

.about .container {
}

.about .wrapper {
  align-items: flex-end;
  padding-bottom: 93px;
}

.about__text {
  width: 50%;
}

.comment-about {
  font-weight: 600;
  font-size: 1.6rem;
}

.heading-about {
  margin: 15px 0 24px;
  font-size: 5.2rem;
  font-weight: 700;
}

.desc-about {
  width: 431px;
  margin-bottom: 54px;
}

.form-row {
  display: flex;
  align-items: center;
  gap: 38px;
  margin-bottom: 27px;
}

.form-row + .form-row {
  margin-bottom: 50px;
}

.box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.box-margin {
  margin-left: 26px;
}

.box label {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #48496a;
}

.box label {
  position: relative;
  display: flex;
  align-items: center;
}

.box label::before {
  content: "";
  display: inline-block;
  margin-right: 6px;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.box [type="checkbox"]:checked ~ label::before {
  background-color: var(--btn-color);
  border-color: var(--btn-color);
}

.box [type="checkbox"]:checked ~ label::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 8px;
  top: 5px;
  left: 3px;
  height: 4px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  rotate: -45deg;
}

.about__img {
  width: 50%;
  position: relative;
}

.bg__img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: 121px;
  width: 494px;
  height: 336px;
  border-radius: 16px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.bg__img img {
  display: block;
  position: absolute;
  bottom: 0;
  z-index: 999;
}

.bg-text {
  position: absolute;
  left: 35px;
  top: -67px;
  width: 136px;
  height: 156px;
  border-radius: 16px;
  background-color: #5bd6e2;
  box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.bg-text h3 {
  margin: 31px 0 14px;
  font-size: 4.2rem;
  text-align: center;
  font-weight: 700;
  line-height: 1;
  color: #fff;
}

.bg-text__desc {
  width: 83px;
  margin: 0 auto;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4;
  color: #c6f4f9;
  text-align: center;
  text-wrap: wrap;
}

.decoration .feet-cat {
  display: block;
  position: absolute;
  top: -108px;
  left: 118px;
}

.decoration .rain {
  display: block;
  position: absolute;
  top: -65px;
  right: -112px;
}

/* features */

.features {
  background-color: #fff9e2;
}

.features .wrapper {
  padding-top: 93px;
  padding-bottom: 190px;
}

.features__img {
  position: relative;
}

.bg__img-features {
  width: 458px;
  height: 500px;
  border-radius: 18px;
  background-color: #c4c4c4;
  box-shadow: 0px 3px 63px 0px rgba(153, 183, 208, 0.59);
  overflow: hidden;
}

.bg__img-features .decoration-features .deco {
}

.decoration-features .deco-line-1 {
  position: absolute;
  top: 32px;
  right: -22px;
}

.decoration-features .deco-line-2 {
  position: absolute;
  top: -16px;
  right: 12px;
}

.decoration-features .deco-circle {
  position: absolute;
  bottom: -54px;
  right: -43px;
}

.decoration-features .deco-triangle {
  position: absolute;
  bottom: 210px;
  right: -40px;
}

.features__text {
  width: 50%;
  margin-left: 98px;
  margin-top: 52px;
}

.heading-features {
  margin-bottom: 24px;
}

.desc-features {
  margin-bottom: 40px;
  width: 511px;
}

.features__services {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.services__item .icon-item:not(:nth-last-child()) {
  object-fit: cover;
  display: inline-block;
  text-align: start;
  margin-top: 8px;
}

.icon-item.item-2 {
  margin-top: 8px;
}

.icon-item.item-3 {
  margin-bottom: 5px;
}

.title-item {
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  margin-left: 8px;
}

.features-line {
  margin-bottom: 36px;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 96, 41, 0.08);
  overflow: hidden;
}

.line-load {
  width: 95px;
  height: 100%;
  background-color: rgba(255, 96, 41, 1);
  display: block;
  z-index: 99;
  animation: load infinite 6s;
  z-index: 999;
}

@keyframes load {
  from {
    transform: translateX(-90px);
  }

  to {
    transform: translateX(600px);
  }
} 

.features-info {
  margin-bottom: 32px;
  width: 391px;
  font-size: 1.4rem;
  font-weight: 400;
}

.features-link a{
  font-size: 1.6rem;
  font-weight: 500;
  color: #FF5D31;
  text-decoration: underline;
  text-underline-offset: 5    px;
}

.services {
  background-color: #FFF6ED;
}

.services-text {
  padding-top: 68px;
  text-align: center;
}

.desc.desc-services {
  font-weight: 600;
  margin-bottom: 12px;
  margin: 0 auto;
}

.services .wrapper {
  margin-top: 71px;
  justify-content: space-between;
  align-items: center;
}

.services__column {

}

.box-services {
  background-color: #fff;
  border-radius: 10px;
border: 2px rgba(255, 188, 122, 0.26);
}

.box-services:nth-child(even) {
  margin: 24px 0;
  
}

.box-services .content {
  display: block;
  padding: 30px 22px 30px 28px;
}

.title-services {
  position: relative;
  padding-left: 12px;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
  color: var(--primary-color);
}

.title-services::before {
  position: absolute;
  left: 2px;
  content: "";
  display: inline-block;
  height: 100%;
  width: 2px;
  background: linear-gradient(90deg, #FF5B2E 0.39%, #FFA187 100.29%);
}

.desc-services {
  margin: 18px 0 24px;
  width: 244px;
  overflow: hidden;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Poppins",sans-serif;
  line-height: 1.8;
  color: var(--text-color)
}

.more-services {
  font-size: 1.2rem;
  font-weight: 400;
  color: #34396A;
}

.more-services i{
  margin-left: 6px;
  color: var(--btn-color)
}

.services__column-center {
  align-self: flex-end;
  margin-bottom: 62px;
}

.services-bg {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 410px;
  height: 350px;
  border-radius: 10px;
background: linear-gradient(180deg, #9DF1FB 0%, #73D0DB 108.14%);
}

.services-bg img {
  display: block;
  object-fit: cover;
  /* width: 447px;
  height: 621px; */
}

.view-services {
  display: flex;
  justify-content: center;
  align-items: center;;
  padding-bottom: 100px;
}

.btn-services {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border-radius: 31px;
  border: 1px solid rgba(255, 91, 46 , 0.6);
  background-color: transparent;
  color: #FF5B2E;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.groommers {
  background: #FFFAF5;
}

.groommers__text {
  padding-top: 130px;
  text-align: center;
}

.desc-groommers {
  margin: 0 auto;
  font-weight: 600;
  margin-bottom: 15px;
}

.groommers .wrapper {
  padding-top: 78px;
  gap: 15px;
  justify-content: space-between;
}

.groommer__avatar {

}

.groomer-bg {
  position: relative;
  width: 234px;
  height: 266px;
  border-radius: 129.5px;
  background: linear-gradient(180deg, #90CCFF 0%, #59A8EB 95.96%);
}

.groomer-bg img {
  border-radius: 129.5px;
  position: absolute;
  bottom: 0;
}

.groomer-parabol.parabol-odd{
  position: absolute;
  bottom: 6px;
  left: -17px;
  display: block;
  object-fit: cover;
}

.groomer-parabol.parabol-even{
  position: absolute;
  top: 6px;
  left: -17px;
  display: block;
  object-fit: cover;
}

.grommer__content {
  text-align: center;
}

.job {
  margin-top: 29px;
  margin-bottom: 8px;
  text-align: center;
  font-size: 1.4rem;
}

.groomer-name {
  font-size: 2.2rem;
  text-align: center;

  font-weight: 600;
  color: var(--primary-color)
}

.view-groommers {
  margin-top: 48px;
  padding-bottom: 130px;
  display: flex;
  justify-content: center;
  align-items: center;;
  padding-bottom: 100px;
}

.btn-groommers {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border-radius: 31px;
  border: 1px solid rgba(255, 91, 46 , 0.6);
  background-color: transparent;
  color: #FF5B2E;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

/* .groomer-bg::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 234px;
  height: 266px;
  border-radius: 129.5px;
  background: linear-gradient(180deg, #90CCFF 0%, #59A8EB 95.96%);
} */

